@import "src/styles/mixins";

.biglogo {
  background-image: url("img/big-logo.svg");
  height: 121px;
  width: 329px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include _799 {
    height: 100px;
    width: 300px;
  }

}