@import "src/styles/mixins";
@import "src/styles/variables";
.profile {
  padding-top: 16px;
  //background: $main-background-color;
  &__header {
    display: flex;
    align-items: flex-end;
    padding: 0 40px;
    padding-left: 60px;

    @include _799 {
      padding: 0 40px;
    }

    @include _600 {
      padding: 0 20px;
    }

    @include _480 {
      padding: 0 10px;
    }
  }

  &__avatar {
    border-radius: 50%;
    @include square(192px);
    background: #2D2929;
    box-shadow: 5px 0 19px 6px rgba(41, 41, 41, 0.25);
    margin-right: 30px;

    @include _799 {
      @include square(150px);
      margin-right: 20px;
    }

    @include _600 {
      @include square(130px);
    }

    @include _480 {
      @include square(110px);
    }

    &_icon {
      background: url('./img/avatar.svg') #2D2929;
      @include icon_centre;
    }
  }

  &__topTracks {
    margin-top: 40px;

    @include _799 {
      margin-top: 20px;
      margin-bottom: $footer-height + 1px;
    }

  }

  &__topArtists {
    margin-top: 20px;

    @include _799 {
      margin-top: 10px;
    }
  }
}

.header {

  &__name {
    color: $sideBarRow-color;
    line-height: 100%;
    font-size: 44px;
    margin-bottom: 40px;

    @include _799 {
      font-size: 36px;
    }
  }

  &__email {
    color: $menu-color;
    margin-bottom: 15px;
    line-height: 100%;
    font-size: 24px;

    @include _799 {
      font-size: 18px;
    }
  }
}

.title {
  color: $sideBarRow-color;
  line-height: 100%;
  font-size: 26px;
  margin-bottom: 20px;
  padding-left: 60px;

  @include _799 {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 0 40px;
  }

  @include _600 {
    padding: 0 20px;
  }

  @include _480 {
    padding: 0 10px;
  }
}