@import "src/styles/variables";

.voidRequest {
  left: 50%;
  top: 40%;
  position: absolute;
  font-size: 30px;
  color: $menu-color;
}

.searcher {
  height: 100%;
  margin-bottom: 10px;

  &__title {
    font-size: 30px;
    color: $menu-color;
    line-height: 100%;
    margin: 0 40px;
    margin-left: 60px;
    padding-bottom: 5px;
    border-bottom: 1px solid $menu-color;
    margin-bottom: 20px;
  }
}