@import 'src/styles/variables';
@import 'src/styles/mixins';

.track {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  margin: 0 40px;
  margin-left: 60px;

  @include _799 {
    margin: 0 40px;
  }

  @include _600 {
    margin: 0 20px;
  }

  @include _480 {
    margin: 0 10px;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  &__number {
    color: $menu-color;
    font-size: 26px;
    line-height: 100%;
    display: flex;
    justify-content: flex-end;
    width: 20px;
    margin-right: 30px;

    @include _799 {
      font-size: 22px;
      margin-right: 20px;
    }
  }

  &__title {
    color: $menu-color;
    font-size: 19px;
    line-height: 100%;
    margin-bottom: 5px;

    @include _799 {
      font-size: 16px;
    }

    @include _600 {
      font-size: 14px;
    }
  }

  &__authors {
    display: flex;

    .author {
      color: $signature-color;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;

      @include _600 {
        font-size: 12px;
      }

      &:after {
        @include dot(5px, $signature-color);
        content: '';
        display: inline-block;
        margin: 0 5px;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }


    .mini-dot {
      @include dot(5px, $signature-color);
      margin: 0 5px;

      @include _600 {
        @include dot(3px, $signature-color);
        margin: 0 3px;
      }
    }
  }

  &__duration {
    color: $signature-color;
    font-size: 18px;
    line-height: 100%;

    @include _799 {
      font-size: 16px;
    }

    @include _600 {
      font-size: 14px;
    }
  }

  &:hover {
    background-color: #929292;
    cursor: pointer;
    border-radius: 4px;

    .track__number {
      font-size: 0;
      @include icon_centre;
      background: url("img/play-button.svg");
      @include square(24px);
      margin-right: 21px;

      @include _799 {
        background: url("img/play-button-14px.svg");
        @include square(14px);
      }
    }
  }
}

.redirect__arrow {
  margin-right: 20px;
  background: url("./img/redirect-arrow-gray.svg");
  @include icon_centre;
  @include square(20px);


  &:hover {
    background: url("./img/redirect-arrow-white.svg");
    @include icon_centre;
    @include square(20px);
  }
}

.flex {
  display: flex;
}

.active {
}