@import "src/styles/variables";
@import "src/styles/mixins";

.profileBar {

  &__title {
    border-radius: 20px;
    outline: none;
    border: none;
    background: none;
    padding: 4px 6px;
    display: flex;
    align-items: center;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }

    &_active {
       opacity: .8;
       cursor: pointer;
     }
  }

  &__name {
    font-size: 34px;
    line-height: 100%;
    color: $menu-color;
    margin-right: 10px;

    @include _799 {
      font-size: 28px;
    }
  }

  &__arrow {
    @include square(20px);
    @include icon_centre;
    transition: all 0.4s ease-out ;
    background: url("img/arrow-bottom.svg");

    &-bottom {
      transform: rotate(0);
    }

    &-top {
      transform: rotate(180deg);
    }
  }

  .dropdown-list {
    position: absolute;
    z-index: 1;
    list-style: none;
    width: 150px;
    margin-top: 10px;
    border: none;
    background-color: $searcher-placeholder-color;
    border-radius: 4px;

    &__item {
      padding: 10px 5px;
      font-size: 16px;
      line-height: 1;
      color: $sideBarRow-color;
      opacity: .8;

      &:last-child {
        border-top: 1px solid $menu-color;
      }

      &:hover {
        opacity: inherit;
        cursor: pointer;
      }
    }
  }
}