@mixin dot($diametr, $color) {
  height: $diametr;
  width: $diametr;
  background-color: $color;
  border-radius: 50%;
}

@mixin button() {

  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

@mixin square($side) {
  height: $side;
  width: $side;
}

@mixin icon_centre() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin item($size, $color) {
  font-size: $size;
  line-height: 100%;
  color: $color;
}

@mixin _1240 {
  @media (max-width: 1170px){
    @content;
  }
}
@mixin _979 {
  @media (max-width: 979px){
    @content;
  }
}
@mixin _799 {
  @media (max-width: 799px){
    @content;
  }
}
@mixin _600 {
  @media (max-width: 600px){
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px){
    @content;
  }
}
@mixin _350{
  @media (max-width: 350px){
    @content;
  }
}