@mixin dot($diametr, $color) {
  height: $diametr;
  width: $diametr;
  background-color: $color;
  border-radius: 50%;
}

@mixin button() {

  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

@mixin square($side) {
  height: $side;
  width: $side;
}

@mixin icon_centre() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin item($size, $color) {
  font-size: $size;
  line-height: 100%;
  color: $color;
}