$menupage-color: rgba(0, 0, 0, 0.67);
$logo-color: #66BA56;
$menu-color: #e9e3e3;
$signature-color: #BFBABA;
$startPageText-color: #FFFFFF;
$sideBarRow-color: #FFFFFF;
$searcher-bcg-color: #f1f0f0;
$searcher-placeholder-color: #929292;
$delimiter-height: 450px;
$title-height: 29px;
$title-mb: 19px;
