$main-background-color: rgba(0, 0, 0, 0.74);
$menupage-color: #151414;
$logo-color: #66BA56;
$menu-color: #e9e3e3;
$signature-color: #BFBABA;
$startPageText-color: #FFFFFF;
$sideBarRow-color: #FFFFFF;
$searcher-bcg-color: #f1f0f0;
$searcher-placeholder-color: #929292;
$player-border-color: #C4C4C4;
$delimiter-height: 450px;
$title-height: 29px;
$title-mb: 19px;

$wrapper-height: 650px;
$searcher-height: 50px;
$player-height: 100px;
$sideBar-width: 245px;
