$logo-color: #66BA56;
$menu-color: #E9E3E3;
$signature-color: #BFBABA;
$startPageText-color: #FFFFFF;
$sideBarRow-color: #FFFFFF;
$searcher-bcg-color: #F1F0F0;
$searcher-placeholder-color: #929292;
$delimiter-height: 450px;
$title-height: 29px;
$title-mb: 19px;
