@import "src/styles/variables";

.wrapper {
  display: flex;
  height: calc(100% - #{$player-height});
  background: $main-background-color;
}

.sidebar {
  width: $sideBar-width;
  background: $menupage-color;
  padding-top: 16px;

  &__logo {
    margin-left: 40px;
  }

  &__menu {
    margin-top: 35px;
  }
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.header {
  display: flex;
  padding: 23px 40px 42px;
  padding-left: 60px;
  //background: $main-background-color;

  &__profile {
    margin-top: 2px;
    margin-left: auto;
  }
}

.main {
  display: flex;

  &__layout {
    flex-grow: 1;

  }
}

.player {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $player-height;
  border-top: 4px solid $player-border-color;
  background: $menupage-color;
  display: flex;
  justify-content: center;
  align-items: center;
}