@import "src/styles/variables";

.wrapper {
  display: flex;
  height: $wrapper-height;
}

.sidebar {
  width: 245px;
  background: $menupage-color;
  padding-top: 16px;

  &__logo {
    margin-left: 40px;
  }

  &__menu {
    margin-top: 35px;
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 23px 40px 42px;
  padding-left: 60px;
  background: $main-background-color;

  &__profile {
    margin-left: auto;
  }
}

.main {
  display: flex;
  height: $wrapper-height - 113px;

  &__layout {
    flex-grow: 1;

  }
}

.player {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: $wrapper-height;
  border-top: 4px solid $player-border-color;
  background: $menupage-color;
  display: flex;
  justify-content: center;
  align-items: center;
}