@import "src/styles/variables";
@import "src/styles/mixins";

.sideBarRow {
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &__icon {
    @include icon_centre;
    @include square(24px);
    margin-right: 20px;
  }

  &__title {
    color: $sideBarRow-color;
    font-size: 19px;
    line-height: 22px;
  }
}